In [1]:
pip install docx2txt

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: docx2txt in e:\8 th\django\pyenv\lib\site-packages (0.8)

In [2]:
# pip install pdfplumber

In [3]:
import os

import docx2txt
import pdfplumber

import numpy as np
import pandas as pd
import re

KeyboardInterrupt:

In [139]:
path  = 'Resume/'

file_names = os.listdir(path)

print("reusme", len(file_names))
print(file_names)

reusme 5
['Himanshu_Resume.pdf', 'Krushnakant B Resume.pdf', 'KrushnakantB Resume.pdf', 'RUCHA RESUME.pdf', 'Tejas Golhar resume (2).pdf']

In [140]:
os.path.splitext("Himanshu_Resume.pdf")

('Himanshu_Resume', '.pdf')

In [141]:
file_extension = []
for file_names in os.listdir(path):
    file_extension.append(os.path.splitext(file_names)[-1])
print(set(file_extension))

{'.pdf'}

In [142]:
def extract_text_from_docx(file_path):
    text = docx2txt.process(file_path)
    return text




def extract_text_from_pdf(file_path):
    file_path = path+file_names
    text = ''
    with pdfplumber.open(file_path) as pdf:
        for page in pdf.pages:
            text += page.extract_text()
    return text

In [143]:
print("path", path)

path Resume/

In [144]:
df = pd.DataFrame(columns=['file_names','text'])

for file_names in os.listdir(path):
    file_path = path+file_names
    text = ''
    if file_names.endswith(".pdf"):
        try:
            text = extract_text_from_pdf(file_path)
        except:
            print("pdf errir for:", file_path)
    if file_names.endswith(".docx"):
        try:
            text = extract_text_from_docx(file_path)
        except:
            print("docx errir for:", file_path)
    if text:
        df.loc[len(df)] = [file_names, text]

df.head()

,file_names,text
0,Himanshu_Resume.pdf,"Himanshu\nFaridabad, Haryana\n(cid:131) +91-99..."
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1..."
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...
3,RUCHA RESUME.pdf,Rucha Satish Bankar\n8766527042 (ruchab@outloo...
4,Tejas Golhar resume (2).pdf,Tejas Gorakshanath Golhar\ngolhartejas612@gmai...

In [145]:
df.shape

(5, 2)

In [146]:
%%time

email_pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
phone_pattern = r'\+?\d[\d -]{8,13}\d'

def extract_email(content):
    email = re.findall(email_pattern, content)
    return email

def extract_phone(content):
    phone = re.findall(phone_pattern, content)
    return phone

df['emails'] = df['text'].apply(lambda x: extract_email(x))
df['phone_numbers'] = df['text'].apply(lambda x: extract_phone(x))

df.head()

CPU times: total: 0 ns
Wall time: 0 ns

,file_names,text,emails,phone_numbers
0,Himanshu_Resume.pdf,"Himanshu\nFaridabad, Haryana\n(cid:131) +91-99...",[himanshujangid364@gmail.com],"[+91-9992739352, 2021 - 2025]"
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721]
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721]
3,RUCHA RESUME.pdf,Rucha Satish Bankar\n8766527042 (ruchab@outloo...,[ruchab@outlook.in],[8766527042]
4,Tejas Golhar resume (2).pdf,Tejas Gorakshanath Golhar\ngolhartejas612@gmai...,[golhartejas612@gmail.com],[8329044195]

In [147]:
skillset_score = {
   'python':2,
   'regression':2,
   'RNN':2
}
skillset_score.keys()

dict_keys(['python', 'regression', 'RNN'])

In [148]:
regex1 = '(' + '|'.join(skillset_score.keys()) + ')'

regex1

'(python|regression|RNN)'

In [149]:
df['skillset'] = df['text'].apply(lambda x: re.findall(regex1, x.lower()))

df.head()

,file_names,text,emails,phone_numbers,skillset
0,Himanshu_Resume.pdf,"Himanshu\nFaridabad, Haryana\n(cid:131) +91-99...",[himanshujangid364@gmail.com],"[+91-9992739352, 2021 - 2025]",[python]
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721],"[python, python, regression, python, python, p..."
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721],"[python, python, regression, python, regressio..."
3,RUCHA RESUME.pdf,Rucha Satish Bankar\n8766527042 (ruchab@outloo...,[ruchab@outlook.in],[8766527042],[]
4,Tejas Golhar resume (2).pdf,Tejas Gorakshanath Golhar\ngolhartejas612@gmai...,[golhartejas612@gmail.com],[8329044195],"[python, python, regression, python, python, p..."

In [150]:
df['skillset']

0                                             [python]
1    [python, python, regression, python, python, p...
2    [python, python, regression, python, regressio...
3                                                   []
4    [python, python, regression, python, python, p...
Name: skillset, dtype: object

In [151]:
df['skillset'][1]

['python', 'python', 'regression', 'python', 'python', 'python', 'python']

In [152]:
df['skillset'] = df['skillset'].apply(lambda x: list(set(x)))

In [153]:
df.head()

,file_names,text,emails,phone_numbers,skillset
0,Himanshu_Resume.pdf,"Himanshu\nFaridabad, Haryana\n(cid:131) +91-99...",[himanshujangid364@gmail.com],"[+91-9992739352, 2021 - 2025]",[python]
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721],"[regression, python]"
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721],"[regression, python]"
3,RUCHA RESUME.pdf,Rucha Satish Bankar\n8766527042 (ruchab@outloo...,[ruchab@outlook.in],[8766527042],[]
4,Tejas Golhar resume (2).pdf,Tejas Gorakshanath Golhar\ngolhartejas612@gmai...,[golhartejas612@gmail.com],[8329044195],"[regression, python]"

In [154]:
df_skills = df.explode('skillset')

df_skills.head()

,file_names,text,emails,phone_numbers,skillset
0,Himanshu_Resume.pdf,"Himanshu\nFaridabad, Haryana\n(cid:131) +91-99...",[himanshujangid364@gmail.com],"[+91-9992739352, 2021 - 2025]",python
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721],regression
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721],python
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721],regression
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721],python

In [155]:
df_skills['skillset_score'] = df_skills['skillset'].apply(lambda x: skillset_score.get(x))
df_skills.head(10)

,file_names,text,emails,phone_numbers,skillset,skillset_score
0,Himanshu_Resume.pdf,"Himanshu\nFaridabad, Haryana\n(cid:131) +91-99...",[himanshujangid364@gmail.com],"[+91-9992739352, 2021 - 2025]",python,2.0
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721],regression,2.0
1,Krushnakant B Resume.pdf,"Krushnakant Bankar\nWarje, Pune 411058\n(cid:1...",[kbankar.7651@gmail.com],[9356283721],python,2.0
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721],regression,2.0
2,KrushnakantB Resume.pdf,KRUSHNAKANT BANKAR\n+919356283721 Â· kbankar.76...,[kbankar.7651@gmail.com],[+919356283721],python,2.0
3,RUCHA RESUME.pdf,Rucha Satish Bankar\n8766527042 (ruchab@outloo...,[ruchab@outlook.in],[8766527042],NaN,NaN
4,Tejas Golhar resume (2).pdf,Tejas Gorakshanath Golhar\ngolhartejas612@gmai...,[golhartejas612@gmail.com],[8329044195],regression,2.0
4,Tejas Golhar resume (2).pdf,Tejas Gorakshanath Golhar\ngolhartejas612@gmai...,[golhartejas612@gmail.com],[8329044195],python,2.0

In [156]:
group_df = df_skills.groupby('file_names')
group_df['skillset_score'].sum()

file_names
Himanshu_Resume.pdf            2.0
Krushnakant B Resume.pdf       4.0
KrushnakantB Resume.pdf        4.0
RUCHA RESUME.pdf               0.0
Tejas Golhar resume (2).pdf    4.0
Name: skillset_score, dtype: float64